<!DOCTYPE html>
<!--[if !IE]><!-->
<html>
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <script src="angular.min.js"></script> 
            <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
            <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="../assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
            <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
            <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
            <link href="../assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
            <link href="../assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
            <link href="../assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
            <link href="../css/anova_custom_style.css" rel="stylesheet" type="text/css" />
            <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
            <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
            <link href="../css/new_anova_style.css" rel="stylesheet" type="text/css" />   
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white ">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="dashboard.html"><img src="../images/logo.png" alt="Anova Golf" class="logo-default" style="margin-top:5px"/> </a>
                        <div class="menu-toggler sidebar-toggler"> </div>
                    </div>
                    <!-- END LOGO -->
                    
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user">
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="edit_profile">
                                            <i class="icon-user"></i> Profile </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="logout">
                                            <i class="fa fa-cog" aria-hidden="true"></i></i> Logout </a>
                                    </li>
                                    <li class="divider"> </li>
                                </ul>
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile">Welcome  Admin</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                        
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="" target="_blank">
                                   <i class="icon-question" aria-hidden="true"></i> Get Help 
                               </a>
                           </li>
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->
            
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                            <li class="sidebar-toggler-wrapper hide">
                                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                                <div class="sidebar-toggler"> </div>
                                <!-- END SIDEBAR TOGGLER BUTTON -->
                            </li>
                            <li class="nav-item start">
                                <a href="home" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="nav-item start">
                                <a href="addCustomer" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Add New Customer</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="nav-item start active open">
                                <a href="customerList" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Customers List</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            
                            </ul>
                        <!-- END SIDEBAR MENU -->
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <!-- END SIDEBAR -->
                
                
            <div class="page-content-wrapper" ng-app="myApp" ng-controller="customerListController">
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="customerList.html">Customers List</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <div class="row">
                        <div class="col-md-10" style="margin-left: 25px;">

                            <div class="portlet light">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-users"></i> Customers List 
                                                    </div>
                                                </div>
                                                <div class="portlet-body flip-scroll">
                                                    <table class="table table-bordered table-striped table-condensed flip-content" width="100%">
                                                        <thead class="flip-content">
                                                            <tr>
                                                                <th class="numeric" width="10%"> Id </th>
                                                                <th width="20%"> Email </th>
                                                                <th width="15%"> First Name </th>
                                                                <th width="15%"> Last Name </th>
                                                                <th width="5%"> Gender </th>
                                                                <th width="15%"> About </th>
                                                                <th width="10%"> Country </th>
                                                                <th width="10%"> Action </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat = "custDetails in customers">
                                                                <td class="numeric"> {{custDetails.id}} </td> 
                                                                <td> {{custDetails.szEmail}} </td> 
                                                                <td> {{custDetails.szFirstName}} </td> 
                                                                <td> {{custDetails.szLastName}} </td> 
                                                                <td> {{custDetails.szGender}}  </td> 
                                                                <td> {{custDetails.szDescription}}  </td> 
                                                                <td> {{custDetails.szCountry}}  </td> 
                                                                <td> 
                                                                    <a href="javascript:void(0)" ng-click="editCustomerDetails(custDetails.id)" title="Edit Customer Details"><i class="fa fa-pencil"></i></a>
                                                                    &nbsp;&nbsp;<a href="javascript:void(0)" ng-click="deleteCustomerDetails(custDetails.id)" title="Delete Customer Details"><i class="fa fa-trash-o"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>

                
                
                
                
                
</div> 
        <div class="page-footer">
            <div class="page-footer-inner"> 2016 &copy; Anova Golf. All rights reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a> | <a href="#">Site Map</a>
            </div>
        </div>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    </body>
</html>

<script>
var app = angular.module('myApp', []);
app.controller('customerListController', function($scope, $http) {

    var apiURL ="http://localhost:3000/customerListing";

    $http({
        method: 'GET',
        url: apiURL
    }).success(function (retdata) {
            $scope.customers = retdata;
        }).error(function (data, status) {
        $scope.status = 'Error : ' + JSON.stringify(data) + ' # Status : ' + JSON.stringify(status) ;
    });

    $scope.editCustomerDetails = function(idCustomer){
        var editCustomer ="http://localhost:3000/editCustomer";
        var customerId = {'idCustomer': idCustomer};

        $http({
            method: 'POST',
            url: editCustomer,
            data: JSON.stringify(customerId),
            headers: { 'Content-Type': 'application/JSON' }
        }).success(function (retdata) {
            if(retdata == "SUCCESS")
                $window.location.href = "/addCustomer";

        }).error(function (data, status) {
            $scope.status = 'Error : ' + JSON.stringify(data) + ' # Status : ' + JSON.stringify(status) ;
        });
        
    }

});
</script>