<div class="content" ng-controller="forgotController">
            <div class="logo">
                <a href=""><img src="images/login_logo.png" alt="Anova Golf" class="logo-default" width="150"/> </a>
            </div>
            <form class="login-form" name="forgotPasswordForm"  role="form" novalidate  ng-submit="forgotPassword()">
                <h3 class="form-title font-green">Forgot Password</h3>
                <div class="form-group" ng-class="{'has-error': forgotPasswordForm.szEmail.$invalid}">
                    <input type="email" name="szEmail" ng-model="szEmail"  class="form-control input-square-right" placeholder="Email-Id" required ng-model="session.szEmail" ng-pattern="isValidEmail">
                    <span class="help-block" ng-show="forgotPasswordForm.szEmail.$error.required">Email is required.</span>
                    <span class="help-block" ng-show="forgotPasswordForm.szEmail.$error.pattern">Please enter a valid email.</span> 
                </div>
               
                <br/>
                <div class="form-actions anova-center-align">
                    <button class="btn green btn-form-submit" ng-disabled="!forgotPasswordForm.$valid"> Send</button><br/><br/>
                    <a class="anova-links" id="forget-password" href="#login">Already Have Password?</a>
                </div>
            </form>
            
</div>